#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;

}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans" ,'roboto', 'oxygen';
}
.scrolbar-none::-webkit-scrollbar{
    display: none;
}